<div class="author-section section-line group">
	<div class="wrapper main">
	
	<div class="author-section-left left size1of4">
	
		<img src="{{ theme:img src="author-241x265.jpg" }}" alt="Matt Steele" />
	</div> <!--/ author-section-left-->
	
	<div class="author-section-right right size3of4">
	
	<div class="author-section-right-padder">
	<p>Hi. My name is Matt Steele and I'm a Web Developer
	living in Denver, Colorado.</p> 
	 
	<p>During the day I work for <a href="http://www.qdigitalstudio.com/">Q Digital Studio </a>specializing in both <a href="http://ellislab.com/expressionengine">Expression Engine</a> and <a href="http://statamic.com/">Statamic</a> CMS development.</p>
	
	<p>I also work freelance helping both businesses and 
	individuals with their web presence.</p>
	   
	<p>On the weekends I organize a local JavaScript meetup
	called the <a href="http://www.meetup.com/Denver-Code-Club/">Denver Code Club</a>.</p> 
	
	<p>If you'd like like to work together, please <a id="intro-contact-clicker" href="<?php echo $site_url; ?>#contact-section">get in touch</a>.</p>
	</div> <!--/ author-section-right-padder-->
	</div> <!--/ author-section-right-->
	
	</div> <!--/ wrapper main-->
</div> <!--/ author-section section-line group-->