<div class="main" id="primary_content" role="main">
		<div class="wrapper">

		<h1 class="bold uppercase txt-center red">colophon</h1>
<hr />

<h3>Version 6</h3>

<ul class="colophon-list">
	<li>This is v6 of matt-steele.com (I think, at least. The first few were horrible and weren't counted :) ) </li>
	<li>This version of the site was designed on December 25, 2013 (Christmas evening), coded over the next 3 days, and then put into Statamic and released on December 30th, 2013.</li>
	<li>This was a complete rewrite of all code and a change of CMS's</li>
</ul>

<h3>Tools</h3>

<ul class="colophon-list">
	<li>Designed in <a href="http://www.bohemiancoding.com/sketch/">Sketch</a> on a Macbook Air mid-2013 edition.</li>
	<li>HTML, CSS and JavaScript were all written in both <a href="http://www.sublimetext.com/">Sublime Text 2</a> and <a href="http://panic.com/coda/">Coda 2.</a></li>
	<li><a href="http://livereload.com/">Live Reload </a>took care of compiling and page refreshes.</li>
</ul>

<h3>Fonts used</h3>
<ul class="colophon-list">
	<li class="source-sans">Source Sans Pro </li>
	<li class="roboto-slab">Roboto Slab</li>
</ul>

<h3>CMS</h3>

<ul class="colophon-list">
	<li>Powered by Statamic version 1.6.7</li>
	<li>All posts are written in Markdown</li>
	<li>Uses the <a href="https://github.com/katrinkerber/ckeditor-filemanager">CKEditor plugin</a> from <a href="http://katrinkerber.com/">Katrin Kerber</a></li>
</ul>

<h3>Version 5</h3>
<p>Here's a screenshot of v5 for posterity</p>

<img class="mbl" src="{{ theme:img src="matt-steele-v5-667x1222.jpg" }}" alt="matt-steele-v6-667x1222" />

</div> <!--/ wrapper-->

</div> <!--/ main-->
