<footer class="footer">
	<div class="footer-wrapper">
	<div class="main">
		<div class="group">
		
				<div class="left size1of2 footer-left">
				<div class="statamic-wrapper">
				<p class="statamic"><a href="http://statamic.com/">Powered By Statamic<span class="statamic-logo-45x29"></span></a></p>
				</div>
				  <p class="copyright">&copy; {{ current_date format="Y" }} Matt Steele</p>

				</div> <!-- / left size1of2-->
		  
			  <div class="right size1of2">
				  <ul class="footer-list">
					  <li><a href="http://matt-steele.com/blog">Blog</a></li>
					  <li><a href="http://matt-steele.com/styleguide">Style Guide</a></li>
					  <li><a href="http://matt-steele.com/colophon">Colophon</a></li>
					  <li><a href="http://matt-steele.com/feed">RSS</a></li>
				  </ul>
			  </div> <!-- / right size1of2-->
		  </div> <!-- / main -->
		  </div> <!-- / group -->
	  <p class="top-link"><a class="scrollable" href="#header">Back to the top ⬆</a></p>
	</div> <!-- / wrapper-->	
</footer> <!-- / footer -->

  
{{# 
====================================
  NOTES
====================================

This is the main footer partial.

For more information on partials see http://statamic.com/learn/theming/partials.
  
#}}
