	{{ if {raven:success} }}
	<div class="form-success">
		<h1>Thanks! I'll get back to you shortly.</h1>
		</div>
	{{ endif }}	
	
		{{ if {raven:has_errors} }}					
			
					{{ raven:errors }}
				<div class="pal mvl mll form-errors">
				<h2 class="text-error pbn">⬇ It looks like you have some errors down there ⬇</h2>
				<p class="text-error ptn">(annoying, I know)</p>
				<p class="text-error">Your first name, last name, email address and a message are all required.</p>
				<hr/>
				<p class="text-error">Fix the following errors and then try re-sending your message:</p>				
				
						{{ missing }}
							<p class="text-error">This field must have content: {{ field }}</p>
						{{ /missing }}
						
						{{ invalid }}
							<p class="text-error">This field has an invalid format: {{ field }}: {{ message }}</p>
						{{ /invalid }}		
													
				</div> <!--/ pal mvl background-white -->
	
						{{ /raven:errors }}

			{{ endif }}	