	<div class="home-recent-work-section section-line group" id="work-section">
		<div class="wrapper main">
		
	<h2 class="home-section-title">Recent Work <span class="red">//</span></h2>
	{{ recent_work_loop limit="3" }}
		<div class="home-work-three-up">
			<div class="{{ switch between="home-work-three-up-padder-one|home-work-three-up-padder-two|home-work-three-up-padder-three" }}">
				<a href="">
					<h2>{{ recent_work_image_title }}</h2>
<img src="{{ recent_work_image }}" alt="{{ recent_work_image_alt_title }}" />
					</a>
					</div> <!--/ home-work-three-up-padder-->
				</div> <!--/ home-work-three-up-->
	{{ /recent_work_loop }}
		</div> <!--/ wrapper main-->
	</div> <!--/ home-recent-work-section section-line-->