	<div class="social-section section-line group">
		<div class="wrapper main">
		
		<p>You can find me around the internet at these places:</p>
		
		<div class="social-float-left size1of2">
		<ul class="social-list social-list-left">
		
			<li><a href="http://www.qdigitalstudio.com/"><span class="q-logo-45x44"></span>Q Digital Studio</a></li>
			<li><a href="http://themetaq.com/"><span class="metaq-logo-45x50"></span>Meta Q</a></li>
			<li><a href="http://www.meetup.com/Denver-Code-Club/"><span class="DCC-logo-45x45"></span>Denver Code Club</a></li>
		</ul>
		</div> <!--/ left size1of2-->
		
		<div class="social-float-right size1of2">
		<ul class="social-list social-list-right">
			<li><a href="https://github.com/mattsteele"><span class="github-logo-52x43"></span>Github</a></li>
			<li><a href="https://twitter.com/mattsteeele"><span class="twitter-logo-51x41"></span>Twitter</a></li>
			<li><a href="http://www.rdio.com/people/matt-steele/"><span class="rdio-logo-50x51"></span>Rdio</a></li>
		</ul>
		</div> <!--/ right size1of2-->
		</div> <!--/ wrapper main-->
	</div> <!--/ social-section-->
