<div class="main" id="primary_content" role="main">
		<div class="wrapper">

		<h1 class="bold uppercase txt-center red">style guide</h1>
<hr />
	<h2 class="bold uppercase light-blue">Headings</h2>
<hr />

		<h1>This is a Heading 1 - 36px font size - Roboto Slab</h1>
		<h2>This is a Heading 2 - 26px font size - Roboto Slab</h2>
		<h3>This is a Heading 3 - 20px font size - Roboto Slab</h3>
		<h4>This is a Heading 4 - 16px font size - Roboto Slab</h4>
		<h5>This is a Heading 5 - 13px font size - Roboto Slab</h5>
		<h6>This is a Heading 6 - 11px font size - Roboto Slab</h6>

<hr />

	<h2 class="bold uppercase light-blue">colors</h2>
<hr />

<h2 class="color-chip-spacing">Dark Blue - #132250<span class="color-chip dark-blue-background"></span></h2>

<h2 class="color-chip-spacing">Light Blue - #507796<span class="color-chip light-blue-background"></span></h2>

<h2 class="color-chip-spacing">Red - #D1625B<span class="color-chip red-background"></span></h2>

<h2 class="color-chip-spacing">Black - #333333<span class="color-chip black-background"></span></h2>

<h2 class="color-chip-spacing">White - #FFFFFF<span class="color-chip white-background"></span></h2>

<hr />
	<h2 class="bold uppercase  light-blue">Fonts</h2>
<hr />

	<p class="source-sans">Source Sans Pro is one of two available fonts. You can add the Source Sans Pro font by adding the class ".source-sans" to any HTML element.</p>

	<p class="roboto-slab">Roboto Slab is one of two available fonts. You can add the Roboto Slab font by adding the class ".roboto-slab" to any HTML element.</p>


<hr />
	<h2 class="bold uppercase light-blue">Paragraphs</h2>
<hr />

		<p class="fs13"></p>
		<p>This is a standard paragraph - 20px font - body copy is #333 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, <a href="{{ url }}">links are #D1625B</a> aut, nostrum similique animi voluptate qui perferendis natus ipsa quis tempora iusto explicabo illum accusamus repudiandae enim reprehenderit ratione. Consequatur, <a href="{{ url }}">links are #D1625B</a> consequuntur quidem aperiam rerum voluptatibus enim eius molestiae veritatis culpa. Non, nisi maiores suscipit distinctio magni aspernatur a maxime mollitia!</p>

<hr />

	<h2 class="bold uppercase light-blue">Lists</h2>
<hr />

		<div>
<ol>
	<li>Ordered list item</li>
	<li>Ordered list item</li>
	<li>Ordered list item</li>
	<li>Ordered list item</li>
	<li>Ordered list item</li>
	<li>Ordered list item</li>
</ol>
		</div>
<hr />
		<div>
<ul>
	<li>Unordered list item</li>
	<li>Unordered list item</li>
	<li>Unordered list item</li>
	<li>Unordered list item</li>
	<li>Unordered list item</li>
	<li>Unordered list item</li>
</ul>
</div>
<hr />
	<h2 class="bold uppercase light-blue">Quotes</h2>
<hr />

	 <blockquote>
		<p>I don't think the human race will survive the next thousand years, unless we spread into space. There are too many accidents that can befall life on a single planet. But I'm an optimist. We will reach out to the stars.</p>
		<cite><a href="/"> -Stephen Hawking</a>, 2001</cite>
	</blockquote>
	<hr />

<h2 class="bold uppercase light-blue">modules</h2>
<hr />
	<figure>
		<img src="{{ theme:img src="placeholder-430wx125h.jpg" }}" alt="media-img-2"/>
		<figcaption>This image has a caption</figcaption>
	</figure>
<hr />

<h2 class="bold uppercase light-blue">buttons</h2>
<hr />
<div class="mvl">
	<button class="submit-button" type="button" class="phl mtl shadow">Submit Form</button>
</div> <!--/ mvl-->

<div class="left">
<p class="continue-reading">
<a href="">Continue >></a>
</p>
</div> <!--/ left mal-->

<hr />

<h2 class="bold uppercase light-blue">pagination</h2>
<hr />
		
<div class="pagination-wrapper mbl">
<nav class="pagination" id="txt-left" role="navigation">
		<a class="prev" href="#">Prev</a>
		<a href="#">1</a>
		<a href="#">2</a>
		<a class="active" href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">6</a>
		<a href="#">7</a>
		<a class="next" href="#">Next</a>
	</nav>
</div> <!--/ pagination-wrapper-->

<div class="group mvl">
			<h2 class="blog-sidebar-title">Recent Articles</h2>
				<ul class="blog-side-nav">
					<li><a href="">Through The Mountains</a></li>
					<li><a href="">On Mordor</a></li>
					<li><a href="">Recently Crowned King</a></li>
					<li><a href="">The Battle of The Sky</a></li>
					<li><a href="">Beer Beer Beer</a></li>
					<li><a href="">I Was There The Night It All Happened</a></li>
					<li><a href="">Lonely Trails Left Behind</a></li>
					<li><a href="">A Ship Passes Saturn</a></li>
					<li><a href="">It Was the Longest Of Nights</a></li>
					<li><a href="">Sewing A Button</a></li>
					<li><a href="">The Adinondaks</a></li>
					<li><a href="">It'll Get Better</a></li>
				</ul>
</div> <!--/ group mvl-->
	
<hr />
	<h2 class="bold uppercase light-blue">Tables</h2>
<hr />
<table summary="Jimi Hendrix albums">
  <caption>Jimi Hendrix - albums</caption>
  <thead>
      <tr>
        <th>Album</th>
        <th>Year</th>
        <th>Price</th>
      </tr>
	</thead>
		  <tfoot>
      <tr>
        <td>Album</td>
        <td>Year</td>
        <td>Price</td>
      </tr>
	</tfoot>
	<tbody>
      <tr>
        <td>Are You Experienced </td>
        <td>1967</td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Axis: Bold as Love</td>
        <td>1967</td>
        <td>$12.00</td>
      </tr>
	 <tr>
        <td>Electric Ladyland</td>
        <td>1968</td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Band of Gypsys</td>
        <td>1970</td>
        <td>$12.00</td>
      </tr>
			<tbody>
    </table>

<hr />
	<h2 class="bold uppercase light-blue">Inline Elements</h2>
<hr />

      <p>
      I am <a href="http://devkick.com/lab/tripoli/sample.php?abc123">the a tag</a> example<br>

      I am <abbr title="test">the abbr tag</abbr> example<br>

      I am <acronym>the acronym tag</acronym> example<br>
      I am <b>the b tag</b> example<br>
      I am <big>the big tag</big> example<br>

      I am <cite>the cite tag</cite> example<br>

      I am <code>the code tag</code> example<br>
      I am <del>the del tag</del> example<br>
      I am <dfn>the dfn tag</dfn> example<br>

      I am <em>the em tag</em> example<br>

      I am <font face="verdana">the font tag</font> example<br>
      I am <i>the i tag</i> example<br>
      I am <ins>the ins tag</ins> example<br>

      I am <kbd>the kbd tag</kbd> example<br>

      I am <q>the q tag <q>inside</q> a q tag</q> example<br>
      I am <s>the s tag</s> example<br>
      I am <samp>the samp tag</samp> example<br>

      I am <small>the small tag</small> example<br>
      I am <span>the span tag</span> example<br>
      I am <strike>the strike tag</strike> example<br>
      I am <strong>the strong tag</strong> example<br>

      I am <sub>the sub tag</sub> example<br>
      I am <sup>the sup tag</sup> example<br>
      I am <tt>the tt tag</tt> example<br>
      I am <var>the var tag</var> example<br>

      I am <u>the u tag</u> example
      </p>
      
      <p>This is a &lt;p&gt; with some <code>code</code> inside.</p>

<hr />
	<h2 class="bold uppercase light-blue">code examples</h2>
<hr />
<pre>
<code>&lt;html&gt;</code>
	<code>&lt;head&gt;</code>
	<code>&lt;/head&gt;</code>
	<code>&lt;body&gt;</code>
	<code>&lt;div class = "main"&gt; &lt;div&gt;</code>
	<code>&lt;/body&gt;</code>
<code>&lt;/html&gt; </code>
</pre>
	
</div> <!--/ group mvl-->

</div> <!--/ wrapper-->
</div> <!--/ main-->